<ion-view view-title="Browse">
  <ion-content class="no-padding">




    <h1 class="module__title--fancy--large">App Features</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, sed do eiusmod tempor.
    </p>
    <p>
      Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="well">
      Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>




    <div id='firechat-wrapper'>
      <a href='#' onclick='login("twitter");'>Login</a>
    </div>



    <button class="button button-balanced button-outline" ng-click="showToast()">Show Toast Top</button>
    <button class="button button-balanced button-outline" ng-click="showToastBottom()">Show Toast Bottom</button>



  </ion-content>
</ion-view>
