<ion-view view-title="Search Events">


    <div class="hidden tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item active" href="#">
          <i class="icon ion-home"></i>
          My Upcoming
        </a>
        <a class="tab-item" href="#">
          Invited
        </a>
        <a class="tab-item" href="#">
          Featured
        </a>
      </div>
    </div>




  <ion-content>



    <ion-list>



      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="query">
        </label>
      </div>

      <ion-item>



                  <label class="hidden item item-input item-select">
                      <div class="input-label">
                        Sort by:
                      </div>
                      <select ng-model="orderProp">
                        <option value="id" selected>Alphabetical</option>
                        <option value="date">Date</option>
                        <option value="price">Price</option>
                      </select>
                    </label>

      </ion-item>
      <label class="item item-divider">
          Today
      </label>

      <ion-item class="item-thumbnail-left item-remove-animate item-icon-right" ng-repeat="event in events | filter:query | orderBy:orderProp"  type="item-text-wrap" href="#/app/events/{{event.id}}">
        <img src="{{event.image}}">
        <h1 class="ticket-type__title {{marketColor}}">{{event.title}}</h1>
        <span><i class="ion-ios-clock-outline"></i> Thu Feb 04 @ 7:30 PM</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
        {{event.price}}
        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>



  </ion-content>


</ion-view>
