<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Event</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="newEvent()">
      <div class="list">

        <label class="item item-divider">
          NAME
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Name of your event" ng-model="eventData.title">
        </label>

        <label class="item item-divider">
          TIME
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Start Time" ng-model="eventData.startTime">
        </label>
          <label class="item item-input">
          <input type="text" placeholder="End Time" ng-model="eventData.endTime">
        </label>
          <label class="item item-input">
          <input type="text" placeholder="RSVP By" ng-model="eventData.rsvpDate">
        </label>

        <label class="item item-divider">
          LOCATION
        </label>
        <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap" href="#/app/locations">
          <i class="icon ion-chevron-right icon-accessory"></i>Select Location
        </ion-item>


        <label class="item item-divider">
          CATEGORY
        </label>
        <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap" href="#/app/categories">
          <i class="icon ion-chevron-right icon-accessory"></i>Select a Category
        </ion-item>


        <label class="item item-divider">
          Privicy Settings PRIVICY SETTINGS
        </label>
        <ul class="list">
          <li class="item item-toggle">
             Private Event
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="eventData.privicy">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>

        <label class="item item-divider">
          DESCRIPTION
        </label>
        <label class="item item-input" ng-model="eventData.description">
          <textarea placeholder="Description of your event"></textarea>
        </label>

        <label class="item">
          <button class="button button-block button-balanced" type="submit">Create Event</button>
        </label>



      </div>
    </form>
  </ion-content>
</ion-modal-view>
