<header class="header">
    <div class="market-header">
        <div class="menubar">
            <ul class="menubar-list">
                <li class="menubar-item menubar-item--has-button menubar__menu-toggle hidden--print">
                    <button class="no-focus menubar-item__btn drawer__toggle menu-button" data-ct="Nav Home" data-drawer-direction="left">
                        <span class="menubar-item__text hidden--xs hidden--sm" data-drawer-toggle-html="<strong style='font-size: 2.5em;'>×</strong>">
                            <strong>Menu</strong>
                        </span>
                        <span class="hamburger hidden--md hidden--lg hidden--xl">
                            <span class="hamburger__bar"></span>
                            <span class="hamburger__bar"></span>
                            <span class="hamburger__bar"></span>
                        </span>
                    </button>
                </li>
                <li class="menubar-item menubar-item--fit-width menubar-item--has-logo">
                    <a href="bizjournals" class="logo-link">
                        <img src="http://dev.bizjournals.local/static/img/logos/bizjournals-logo.png" alt="">
                    </a>
                </li>
                <li class="menubar-item menubar-item--promo relative menubar-item--auto-width hidden--print" data-ct="APT: Subscribe Now header">
                    <div class="mboxDefault" style="visibility: visible; display: block;">
                        <a href="/bizjournals/promo/bizjournals-ampm" class="menubar__promo-link hidden--xs hidden--sm" data-ct="APT: Digital Mkt : Subscribe AMPM Header">
                            <strong>Subscribe Now</strong><em>Get News Alerts In Your Inbox</em>
                        </a>
                  </div>
                  <div id="mboxMarker-default-subscribeOfferMbox-0" style="visibility:hidden;display:none">&nbsp;</div><script src="http://bizjournalscom.tt.omtrdc.net/m2/bizjournalscom/mbox/standard?mboxHost=dev.bizjournals.local&amp;mboxPage=1465222666808-977012&amp;screenHeight=800&amp;screenWidth=1280&amp;browserWidth=1091&amp;browserHeight=699&amp;browserTimeOffset=-240&amp;colorDepth=24&amp;mboxSession=1465218069165-568960&amp;mboxPC=1464896693726-607598.28_20&amp;mboxXDomain=enabled&amp;mboxCount=1&amp;mboxTime=1465208266938&amp;mboxMCGVID=45708922563884212961844547372743772988&amp;mboxMCGLH=9&amp;mboxMCSDID=1FDE51898FB74C95-4232150F41FB0461&amp;mbox=subscribeOfferMbox&amp;mboxId=0&amp;mboxURL=http%3A%2F%2Fdev.bizjournals.local%2Fprofiles%2Fcompany%2Fus%2Fia%2Fdes_moines%2Fwells_fargo_home_mortgage_inc%2F3231887&amp;mboxReferrer=http%3A%2F%2Fdev.bizjournals.local%2Fcolumbus%2Fmorning_call%2F2013%2F08%2Fwells-fargo-closing-mortgage-office-in.html&amp;mboxVersion=56"></script>
                </li>
                <li class="menubar-item hidden--print">
                    <div class="menubar__search js-init" data-init="app/menubarSearch">
                        <a href="/search/results" class="search__trigger no-focus menubar-item__btn hidden--lg hidden--xl" style="border-right: #eee solid 1px; border-left: #eee solid 1px;">
                            <span>
                                <i class="icon-search"></i>
                            </span>
                        </a>
                        <form id="search" class="menubar__search-form" name="search" action="/search/results" method="get">
                            <input name="q" type="text" placeholder="Search" class="form-item__control menubar__search__form-item__control no-focus">
                            <!--<button class="no-focus menubar-item__btn menubar__search__close-btn"><i class="icon-cancel"></i></button>-->
                            <button class="no-focus menubar-item__btn menubar__search__submit-btn" type="submit">
                                <i class="icon-search"></i>
                            </button>
                        </form>

                    </div>
                </li>
                <li class="menubar-item hidden--print menubar-item--profile hidden--no-js">
                    <a href="/login/bizjournals?r=%2Fprofiles%2Fcompany%2Fus%2Fia%2Fdes_moines%2Fwells_fargo_home_mortgage_inc%2F3231887" class="no-focus menubar-item__btn menubar-item--loggedout js-login" style="width: auto;">
                        <span class="hidden--md hidden--lg hidden--xl"><i class="icon-user"></i></span>
                        <span class="menubar-item__text hidden--xs hidden--sm"><strong>Sign In</strong></span>
                    </a>
                    <div class="dropdown js-init display-none menubar-item--loggedin" data-init="app/dropdown">
                        <button class="dropdown__trigger no-focus menubar-item__btn" style="width: auto;">
                            <span class="hidden--md hidden--lg hidden--xl">
                                <i class="icon-user"></i>
                            </span>
                            <span class="menubar-item__text hidden--xs hidden--sm">
                                <strong><i class="icon-attention renewal-badge"></i> My Profile <i class="icon-down-dir"></i></strong>
                            </span>
                        </button>
                        <div class="dropdown__target dropdown__target--padded dropdown__target--right">
                            <!-- Renewal Poke is injected here -->
                            <div class="menu-container">
                                <h2 class="menu-header"></h2>
                                <ul class="menu menu--submenu">
                                    <li>
                                        <a data-ct="" href="/account/bizjournals?r=%2Fprofiles%2Fcompany%2Fus%2Fia%2Fdes_moines%2Fwells_fargo_home_mortgage_inc%2F3231887" class="menu-item submenu-item">My Account</a>
                                    </li>
                                    <li>
                                        <a data-ct="" href="/account/bizjournals/printsub" class="menu-item submenu-item">Subscriptions</a>
                                    </li>
                                    <!-- if portal notifications -->
                                                                        <li class="submenu--logout">
                                        <a data-ct="" href="/login/bizjournals/logout?r=%2Fprofiles%2Fcompany%2Fus%2Fia%2Fdes_moines%2Fwells_fargo_home_mortgage_inc%2F3231887" class="menu-item submenu-item js-logout">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>



</header>