<div class="site-section-header site-section-header--v2 has-3-sponsor-logos hidden--print">
    <div class="container">
        <div class="site-section-header__container">
            <h1 class="site-section-header__title site-section-header__title--page-title"><strong>Data Center</strong></h1>
            <div class="sponsored-by sponsored-by--special-section">
                <span class="sponsored-by__label">Sponsored By</span>
                <span class="sponsored-by__logo"></span>
            </div>
        </div>
    </div>
</div>
